# Server Configuration
PORT=5000

# Database Configuration
PGHOST=192.168.29.131
PGPORT=5432
PGDATABASE=car24
PGUSER=postgres
PGPASSWORD=Frnds@2203

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d

# Application Configuration
NODE_ENV=development
CLIENT_URL=http://localhost:3000